

header {
    padding: 20px;
    background-color: #0e488a;
}

h1 {
    color: seashell;
    font-weight: bold;
}

.countdown, .highScore {
    font-size: 15px;
    color:seashell;
}

main {
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgb(34, 34, 77);
    
}

.quizBox, .gameOver, .myButton {
    text-align: center;
    justify-content: center;

}  

.answerButtons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    background-color: #ecf5ff;
}

.btn:hover {
    background-color: #0e488a;
    color: white;
}

.btn:focus {
    outline: 0;
}

.visibility {
    visibility: hidden;
}


.footer {
    color: seashell;
    padding: 20px;
    border-top: 2px solid;
    background-color:#0e488a;

}

